#AnimatedHeading{
    color: #d58936;
    text-align: center;
    font-family: Bree Serif;
    font-size: 40;
    font-weight : bold;
}

.button{
    color: white;
    background-color: #3c1518;
    font-family: Bree Serif;
    font-size: 20;
    border-radius: 5px;
}

#TopBar{
    text-align: center;
}

h1 {
    color: #d58936;
    text-align: center;
    font-family: Bree Serif;
    font-size: 100;
    font-weight : bold;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 25px;
    transition: 600ms;
}

#MainText{
    color: white;
    text-align: center;
    font-family: Bree Serif;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 200px;
}

body{
    background-color: #3c1518;
}