body{
    background-color: #3c1518;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.button{
    color: white;
    background-color: #3c1518;
    font-family: Bree Serif;
    font-size: 20;
    border-radius: 5px;
    cursor: help;
}

#TopBar{
    text-align: center;
    background-color: #d58936;
    padding: 6;
    border-radius: 5px;
}

#WebsiteSnake{
    float: right;
    width: 12%;
}

#WebsiteInvaders{
    margin-top: 360px;
    position: absolute;
    margin-left: -10px;
}

h1 {
    text-align: center;
    font-family: Bree Serif;
    font-size: 100;
    font-weight : bold;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 25px;
    transition: 600ms;
    cursor: default;
    width: 1000px
}

#AboutMeHyperlink:link{
    color: #d58936;
    text-decoration: none;
}

#AboutMeHyperlink:visited{
    color: #d58936;
    text-decoration: none;
}

#AboutMeHyperlink:hover{
    color: #d58936;
    text-decoration: none;
}

#AboutMeHyperlink:active{
    color: #d58936;
    text-decoration: none;
}

#MainText{
    color: white;
    text-align: center;
    font-family: Bree Serif;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 200px;
    width: 1100px;
}

#block1{
    font-size: 25;
}

#block2{
    font-size: 20;
}

#list1{
    text-align: left;
    margin-left: 457px;
}

#block3{
    font-size: 20;
}

#block4{
    float:left;
    text-align: center;
    width: 1111px;
    margin-left: -10px;
}

#BottomBar{
    color: #d58936;
    border-radius: 5px;
    text-align: center;
    margin-top: 70px;
}